/* Importar estilos básicos del login */
@import url(//CSS/style_login.css);

:root{
    --uno: #121b28;
    --dos: #1f2638;
    --tres: #4a5873;
    --cuatro: #7e8ba4;
    --cinco: #e0e1dd;
    --seis: white;
}

/* Contenedor principal */
.container {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;  /* Fondo oscuro */
}

/* Título principal */
h2 {
    color:var(--tres);  
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 300%

}

/* Estilo para las tarjetas de membresía */
.membership-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 800px;
    width: 100%;
}

/* Estilo para las tarjetas */
.card {
    background-color: #f0f3f5;  /* Fondo claro */
    color: #1e3b68;  /* Texto oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);  /* Sombra ligera */
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.card-image img {
    width: 150px; /* Adjust this value to make the image smaller */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Adds rounded corners to the image */
}

.card ul {
    list-style-type: none; /* Removes default list bullet points */
    padding-left: 0; /* Removes default left padding */
}

.card li {
    margin-bottom: 5px; /* Adds some space between list items */
}

h3 {
    font-size: 1.2rem;
    color: #16243e;  /* Título oscuro */
}

.price {
    font-size: 1.1rem;
    color: #16243e;  /* Color oscuro */
}

/* Botones de las tarjetas */
.btn-join {
    background-color: #f0f3f5;  /* Fondo claro */
    color: #1e3b68;  /* Texto oscuro */
    padding: 0.5rem;
    border-radius: 30px;
    border: 2px solid #1e3b68;  /* Borde oscuro */
}

.btn-join:hover {
    background-color: #16243e;  /* Fondo oscuro al pasar el cursor */
    color: white;  /* Texto blanco al pasar el cursor */
}

/* Footer */
.footer {
    background-color: #f0f3f5;  /* Fondo claro */
    color: #1e3b68;  /* Texto oscuro */
    text-align: center;
    padding: 1rem;
    width: 100%;
}
